In [21]:
import pandas as pd
import re

In [31]:
df = pd.DataFrame(columns=['城市', '收入'])
df

Empty DataFrame
Columns: [城市, 收入]
Index: []

In [32]:
with open('城市收入.txt','r',encoding='utf-8',errors='ignore') as f:
    s = f.readlines()
    for line in s:
        re_list = re.findall('(?<=\.)\w+', line.strip())
        for each in re_list:
            print(each[:-5], each[-5:])
            df = df.append({'城市': each[:-5], '收入': each[-5:]}, ignore_index=True)

上海 64183
北京 62361
深圳 57543
苏州 55476
广州 55029
杭州 54348
南京 52916
宁波 52402
厦门 50948
无锡 50373
佛山 49630
绍兴 49389
东莞 49331
舟山 49217
珠海 48107
嘉兴 47380
温州 46920
中山 46865
常州 45933
长沙 44647
湖州 44487
金华 44326
台州 43973
武汉 42133
青岛 42019
克拉玛依 41850
包头 41755
乌海 41551
镇江 40883
济南 39944
天津 39506
鄂尔多斯 38521
沈阳 48494
嘉峪关 38081
大连 37960
东营 37586
乌鲁木齐 37294
南通 37071
威海 36626
马鞍山 36482
成都 36142
泉州 36088
阿拉善 35854
呼和浩特 35683
福州 35376
合肥 35175
昆明 35032
烟台 34901
淄博 34730
泰州 34642
南昌 34191
扬州 34076
株洲 33953
惠州 33930
郑州 33105
盘锦 32978
衢州 32269
丽水 32245
大庆 31943
芜湖 31445
西安 31407
新余 31302
海口 31205
攀枝花 31044
太原 31031
三亚 30487
银川 30452
兰州 30403
贵阳 30310
唐山 30309
鞍山 30259
哈尔滨 30206
金昌 30095
锡林郭勒 30082
潍坊 30049
湘潭 29872
廊坊 29781
营口 29731
江门 29547
盐城 29488
萍乡 29417
景德镇 29369
莱芜 29254
本溪 29107
呼伦贝尔 28428
哈密 28346
抚顺 28085
莆田 27954
海西 27772
淮安 27696
泰安 27389
徐州 27385
酒泉 27269
长春 27204
黄石 27092
柳州 27041
漳州 26998
石家庄 26839
南宁 26798
昌吉 26708
牡丹江 26671
巴音郭楞 26632
重庆 26386
滨州 26371
龙岩 26247
鄂州 26202
三明 26200
宜昌 26193
宣城 26112
石嘴山 26105
荆门 26073
襄阳 26028
鹰潭 25965
西宁 25926
济宁 25902
衡阳 25901
连云港 25864
防城港 25781
玉溪 25767
临沂 25545
辽阳 25516
北海 25485
铜陵 25443
日照 25377
德阳 25330
绵阳 25216
阳泉 25134
南平 25012
伊春 24998
焦作 24890
洛阳 24882
岳阳 24812
锦州 24796
丹东 24762
巴彦淖尔 24742
淮南 24715
九江 24670
蚌埠 24634
宁德 24631
秦皇岛 24555
汕头 24428
枣庄 24334
桂林 24289
乐山 24278
眉山 24190
荆州 24174
淮北 24143
鹤壁 24093
肇庆 24071
孝感 24070

In [33]:
df

     城市     收入
0    上海  64183
1    北京  62361
2    深圳  57543
3    苏州  55476
4    广州  55029
..   ..    ...
145  荆州  24174
146  淮北  24143
147  鹤壁  24093
148  肇庆  24071
149  孝感  24070

[150 rows x 2 columns]

In [34]:
df.to_csv('城市收入.csv')